@use "../../../styles/colors" as *;
@use "../../../styles/base" as *;
@use "../../../styles/mixins" as *;

.primary {
  background: $color-secondary;
  border: 1px solid $color-secondary;
  color: $color-white;
  padding: $spacing-sm $spacing-md; // 0.5rem 1rem (8px 16px)
  border-radius: $border-radius-sm; // 4px
  cursor: pointer;
  font-size: $font-size-sm; // 14px
  font-weight: $font-weight-medium;
  transition: all 0.2s ease;

  &.disabled {
    background-color: $color-gray-400; // closest to #9ca3af
    border-color: $color-gray-400;
  }
}
